4.Supondo que a população de um país A seja da ordem de 80000 habitantes com uma taxa anual de crescimento de 3% e que a população de B seja 200000 habitantes com uma taxa de crescimento de 1.5%. Faça um programa que calcule e escreva o número de anos necessários para que a população do país A ultrapasse ou iguale a população do país B, mantidas as taxas de crescimento.

In [4]:
## a = 80.000
##  cres -> 3% anual
## b = 200.000
##  cresc -> 1,5% anual

a = 80000
b = 200000
ano = 2024

while a < b:
    print('Ainda não igualou nem superou')
    a += a * 0.03
    b += b * 0.015
    ano += 1

print(f'A ({a}) se igualou a B ({b}) no ano de {ano}, foram necessários {ano - 2024} anos')

Ainda não igualou nem superou
Ainda não igualou nem superou
Ainda não igualou nem superou
Ainda não igualou nem superou
Ainda não igualou nem superou
Ainda não igualou nem superou
Ainda não igualou nem superou
Ainda não igualou nem superou
Ainda não igualou nem superou
Ainda não igualou nem superou
Ainda não igualou nem superou
Ainda não igualou nem superou
Ainda não igualou nem superou
Ainda não igualou nem superou
Ainda não igualou nem superou
Ainda não igualou nem superou
Ainda não igualou nem superou
Ainda não igualou nem superou
Ainda não igualou nem superou
Ainda não igualou nem superou
Ainda não igualou nem superou
Ainda não igualou nem superou
Ainda não igualou nem superou
Ainda não igualou nem superou
Ainda não igualou nem superou
Ainda não igualou nem superou
Ainda não igualou nem superou
Ainda não igualou nem superou
Ainda não igualou nem superou
Ainda não igualou nem superou
Ainda não igualou nem superou
Ainda não igualou nem superou
Ainda não igualou nem superou
Ainda não igualou nem superou
Ainda não igualou nem superou
Ainda não igualou nem superou
Ainda não igualou nem superou
Ainda não igualou nem superou
Ainda não igualou nem superou
Ainda não igualou nem superou
Ainda não igualou nem superou
Ainda não igualou nem superou
Ainda não igualou nem superou
Ainda não igualou nem superou
Ainda não igualou nem superou
Ainda não igualou nem superou
Ainda não igualou nem superou
Ainda não igualou nem superou
Ainda não igualou nem superou
Ainda não igualou nem superou
Ainda não igualou nem superou
Ainda não igualou nem superou
Ainda não igualou nem superou
Ainda não igualou nem superou
Ainda não igualou nem superou
Ainda não igualou nem superou
Ainda não igualou nem superou
Ainda não igualou nem superou
Ainda não igualou nem superou
Ainda não igualou nem superou
Ainda não igualou nem superou
Ainda não igualou nem superou
Ainda não igualou nem superou
A (515033.10280596686) se igualou a B (510964.41696222295) no ano de 2087, foram necessários 63 anos

5. Altere o programa anterior permitindo ao usuário informar as populações e as taxas de crescimento iniciais. Valide a entrada e permita repetir a operação.

In [6]:
a = int(input('Defina o tamanho da população da cidade A: '))
txA = float(input('Defina a taxa de crescimento anual da cidade A: '))
b = int(input('Defina o tamanho da população da cidade B: '))
txB = float(input('Defina a taxa de crescimento anual da cidade B: '))
ano = 2024

while a < b:
    print('Ainda não igualou nem superou')
    a += a * txA
    b += b * txB
    ano += 1

print(f'A ({a}) se igualou a B ({b}) no ano de {ano}, foram necessários {ano - 2024} anos')

ValueError: invalid literal for int() with base 10: ''

32. Faça um programa que calcule o fatorial de um número inteiro fornecido pelo usuário. Ex.: 5!=5.4.3.2.1=120. A saída deve ser conforme o exemplo abaixo:

In [78]:
n = int(input('Digite um número de 1 a 10: '))
numero = 1
fatIn = n

print(f'{fatIn}! = ', end=' ')

for n in range(n, 0, -1):
    print(f'{n}', end='')
    if n > 1:
        print(' * ', end='')

    numero *= n

print(f' = {numero}.')

5! =  5 * 4 * 3 * 2 * 1 = 120.

36. Desenvolva um programa que faça a tabuada de um número qualquer inteiro que será digitado pelo usuário, mas a tabuada não deve necessariamente iniciar em 1 e terminar em 10, o valor inicial e final devem ser informados também pelo usuário, conforme exemplo abaixo:

In [41]:
tabuada = int(input('Digite um número inteiro para calcular a tabuada: '))
vlrIn = int(input('Defina por onde a tabuada iniciará: '))
vlrFin = int(input('Defina até onde a tabuada irá: '))
resultado = tabuada * vlrIn

while vlrIn <= vlrFin:
    print(f'{tabuada} * {vlrIn} = {resultado}')
    vlrIn += 1
    resultado = tabuada * vlrIn

print('Tabuada Concluída!')

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
Tabuada Concluída!

38. Um funcionário de uma empresa recebe aumento salarial anualmente: Sabe-se que:
Esse funcionário foi contratado em 1995, com salário inicial de R$ 1.000,00;
Em 1996 recebeu aumento de 1,5% sobre seu salário inicial;
A partir de 1997 (inclusive), os aumentos salariais sempre correspondem ao dobro do percentual do ano anterior. Faça um programa que determine o salário atual desse funcionário. Após concluir isto, altere o programa permitindo que o usuário digite o salário inicial do funcionário.

In [25]:
anoIn = 1995
anoAt = 2024
salario = int(input('Digite o salário inicial: '))
percentual = 0.015

novosalario = salario

for i in range(anoIn, anoAt + 1):
    novosalario += salario * percentual
    if i <= 1997:
        percentual *= 2
    print(f'Salário no ano {i}: R$ {novosalario:.2f}')

Salário no ano 1995: R$ 1015.00
Salário no ano 1996: R$ 1045.00
Salário no ano 1997: R$ 1105.00
Salário no ano 1998: R$ 1225.00
Salário no ano 1999: R$ 1345.00
Salário no ano 2000: R$ 1465.00
Salário no ano 2001: R$ 1585.00
Salário no ano 2002: R$ 1705.00
Salário no ano 2003: R$ 1825.00
Salário no ano 2004: R$ 1945.00
Salário no ano 2005: R$ 2065.00
Salário no ano 2006: R$ 2185.00
Salário no ano 2007: R$ 2305.00
Salário no ano 2008: R$ 2425.00
Salário no ano 2009: R$ 2545.00
Salário no ano 2010: R$ 2665.00
Salário no ano 2011: R$ 2785.00
Salário no ano 2012: R$ 2905.00
Salário no ano 2013: R$ 3025.00
Salário no ano 2014: R$ 3145.00
Salário no ano 2015: R$ 3265.00
Salário no ano 2016: R$ 3385.00
Salário no ano 2017: R$ 3505.00
Salário no ano 2018: R$ 3625.00
Salário no ano 2019: R$ 3745.00
Salário no ano 2020: R$ 3865.00
Salário no ano 2021: R$ 3985.00
Salário no ano 2022: R$ 4105.00
Salário no ano 2023: R$ 4225.00
Salário no ano 2024: R$ 4345.00