In [6]:
def tabuada(numero, começo, fim):
   
    for i in range(começo, fim + 1):
        resultado = numero * i
        print(f"{numero} X {i} = {resultado}")

numero = int(input("Montar a tabuada de: "))
começo = int(input("Começar por: "))
fim = int(input("Terminar em: "))

tabuada(numero, começo, fim)

print ('Parabéns!!!')

2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
Parabéns!!!

In [26]:
salario_inicial = 1000
aumento = 1.5 / 100
ano = 1995

while ano <= 2024:
    print(f"Salário no ano {ano}: R$ {salario_inicial:.2f}")
    salario_inicial = salario_inicial * (1 + aumento)
    aumento = aumento * 2 
    ano += 1

Salário no ano 1995: R$ 1000.00
Salário no ano 1996: R$ 1015.00
Salário no ano 1997: R$ 1045.45
Salário no ano 1998: R$ 1108.18
Salário no ano 1999: R$ 1241.16
Salário no ano 2000: R$ 1539.04
Salário no ano 2001: R$ 2277.77
Salário no ano 2002: R$ 4464.44
Salário no ano 2003: R$ 13036.15
Salário no ano 2004: R$ 63094.98
Salário no ano 2005: R$ 547664.47
Salário no ano 2006: R$ 8959790.69
Salário no ano 2007: R$ 284204560.82
Salário no ano 2008: R$ 17745732777.31
Salário no ano 2009: R$ 2198341376453.00
Salário no ano 2010: R$ 542462718053542.06
Salário no ano 2011: R$ 267173737895730528.00
Salário no ano 2012: R$ 262909645038914666496.00
Salário no ano 2013: R$ 517164304563148244910080.00
Salário no ano 2014: R$ 2034089956135592080204365824.00
Salário no ano 2015: R$ 15998768413792394281488683630592.00
Salário no ano 2016: R$ 251654867592325396987276632919113728.00
Salário no ano 2017: R$ 7916629288082298418272104051247446753280.00
Salário no ano 2018: R$ 498079164972099073044506102424224350991286272.00
Salário no ano 2019: R$ 62673361097939015974588452007553794415875760062464.00
Salário no ano 2020: R$ 15772330422152896713036863368953619989314421505159856128.00
Salário no ano 2021: R$ 7938489601805331786892694208203085057144886545662928308142080.00
Salário no ano 2022: R$ 7991153224284124308525120353457584705599324422584199349980608069632.00
Salário no ano 2023: R$ 16088324439102569013333895264764169083775204134662300197261040409336872960.00
Salário no ano 2024: R$ 64780166694621071389588518512457699362489192028238654588493204328624246784786432.00

In [3]:
num = int(input("Digite um número inteiro positivo: "))

if num < 0:
    print("Se for negativo, não vai funcionar! .")
else:
    fatorial = 1
    representacao = f"{num}! = "

    for i in range(num, 0, -1):
        fatorial *= i
        representacao += str(i)
        if i != 1:
            representacao += " . "

    representacao += f" = {fatorial}"
    print(representacao)

8! = 8 . 7 . 6 . 5 . 4 . 3 . 2 . 1 = 40320