Um funcionário de uma empresa recebe aumento salarial anualmente: Sabe-se que:
 
 Esse funcionário foi contratado em 1995, com salário inicial de R$ 1.000,00;
 
 Em 1996 recebeu aumento de 1,5% sobre seu salário inicial; A partir de 1997 (inclusive), os aumentos salariais sempre correspondem ao dobro do percentual do ano anterior. 

Faça um programa que determine o salário atual desse funcionário. Após concluir isto, altere o programa permitindo que o usuário digite o salário inicial do funcionário.

In [35]:


dissidio = 1.5/100
salario_inicial = 1000
admissao = 1995

for ano in range(1995,2025):
    salario_inicial += salario_inicial * dissidio 
    if ano <= 1997:
        dissidio *= 2

    print (f'No ano de {ano} o salário era R$ {salario_inicial:.2f}')


print(f'Salário atual em 2024 é R$ {salario_inicial:.2f}')

No ano de 1995 o salário era R$ 1015.00
No ano de 1996 o salário era R$ 1045.45
No ano de 1997 o salário era R$ 1108.18
No ano de 1998 o salário era R$ 1241.16
No ano de 1999 o salário era R$ 1390.10
No ano de 2000 o salário era R$ 1556.91
No ano de 2001 o salário era R$ 1743.74
No ano de 2002 o salário era R$ 1952.99
No ano de 2003 o salário era R$ 2187.34
No ano de 2004 o salário era R$ 2449.83
No ano de 2005 o salário era R$ 2743.81
No ano de 2006 o salário era R$ 3073.06
No ano de 2007 o salário era R$ 3441.83
No ano de 2008 o salário era R$ 3854.85
No ano de 2009 o salário era R$ 4317.43
No ano de 2010 o salário era R$ 4835.52
No ano de 2011 o salário era R$ 5415.79
No ano de 2012 o salário era R$ 6065.68
No ano de 2013 o salário era R$ 6793.56
No ano de 2014 o salário era R$ 7608.79
No ano de 2015 o salário era R$ 8521.84
No ano de 2016 o salário era R$ 9544.46
No ano de 2017 o salário era R$ 10689.80
No ano de 2018 o salário era R$ 11972.58
No ano de 2019 o salário era R$ 13409.29
No ano de 2020 o salário era R$ 15018.40
No ano de 2021 o salário era R$ 16820.61
No ano de 2022 o salário era R$ 18839.08
No ano de 2023 o salário era R$ 21099.77
No ano de 2024 o salário era R$ 23631.74
Salário atual em 2024 é R$ 23631.74